.kitchen_main{
    background: url(../../../src/assets/kitchen2.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 250px 0px;
    color: white;
    text-align: center;

    & a{
        color: white;
    }

    & .home{
        color: rgb(187, 186, 186);
    }
    & .kitchenHeading{
        font-size: 70px;
        font-weight: 700;
    }
}