#main-section{
    background: url(../../assets/main-decor.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    & .container{
        text-align: center !important;
        padding-top: 230px;
        padding-bottom: 150px;

        & h1{
            font-size: 90px;
            font-weight: 800;
            color: white;
        }

        & h3{
            color: white;
            font-size: 33px;
            font-weight: 600;
        }

        & .bttn{
            display: inline-block;
            border: none;
            outline: none;
            background-color: rgb(255, 0, 43);
            padding: 10px 15px;
            color: white;
            font-size: 18px;
            margin-top: 50px;
        }
    }
}